<!-- wp:template-part {"slug":"header","tagName":"header","align":"full","className":"site-header"} /-->

<!-- wp:group {"tagName":"main"} -->
<main class="wp-block-group"><!-- wp:group {"layout":{"inherit":true}} -->
<div class="wp-block-group"><!-- wp:group {"align":"wide","layout":{"inherit":false,"contentSize":""}} -->
<div class="wp-block-group alignwide"><!-- wp:heading {"textAlign":"left","level":1,"style":{"elements":{"link":{"color":{"text":"var:preset|color|primary"}}},"spacing":{"margin":{"top":"1.5em"}}}} -->
<h1 class="has-text-align-left has-link-color" id="poe-is-a-minimal-dark-and-free-block-theme-for-anyone-who-needs-a-portfolio-more" style="margin-top:1.5em">Arctic Circle is an independent design studio building interfaces for
		innovative brands. <a href="#">More →</a>
	</h1>
<!-- /wp:heading --></div>
<!-- /wp:group -->

<!-- wp:group {"align":"wide","style":{"spacing":{"padding":{"bottom":"64px","top":"40vh"}}}} -->
<div class="wp-block-group alignwide" style="padding-top:40vh;padding-bottom:64px"><!-- wp:group {"align":"wide","style":{"spacing":{"padding":{"bottom":"0.5em"}}},"layout":{"type":"flex"}} -->
<div class="wp-block-group alignwide" style="padding-bottom:0.5em"><!-- wp:heading {"level":6,"style":{"spacing":{"margin":{"top":"0px","right":"0px","bottom":"0px","left":"0px"}}},"fontSize":"large"} -->
<h6 class="has-large-font-size" id="filter-by" style="margin-top:0px;margin-right:0px;margin-bottom:0px;margin-left:0px">Filter by</h6>
<!-- /wp:heading -->

<!-- wp:buttons -->
<div class="wp-block-buttons"><!-- wp:button {"className":"is-style-poe-arrow","fontSize":"large"} -->
<div class="wp-block-button has-custom-font-size is-style-poe-arrow has-large-font-size"><a class="wp-block-button__link">Branding</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons -->

<!-- wp:buttons -->
<div class="wp-block-buttons"><!-- wp:button {"className":"is-style-poe-arrow","fontSize":"large"} -->
<div class="wp-block-button has-custom-font-size is-style-poe-arrow has-large-font-size"><a class="wp-block-button__link">Digital</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons -->

<!-- wp:buttons -->
<div class="wp-block-buttons"><!-- wp:button {"className":"is-style-poe-arrow","fontSize":"large"} -->
<div class="wp-block-button has-custom-font-size is-style-poe-arrow has-large-font-size"><a class="wp-block-button__link">Editorial</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons -->

<!-- wp:buttons -->
<div class="wp-block-buttons"><!-- wp:button {"className":"is-style-poe-arrow","fontSize":"large"} -->
<div class="wp-block-button has-custom-font-size is-style-poe-arrow has-large-font-size"><a class="wp-block-button__link">Packaging</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons --></div>
<!-- /wp:group -->

<!-- wp:query {"queryId":31,"query":{"perPage":"8","pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false},"displayLayout":{"type":"flex","columns":2}} -->
<div class="wp-block-query"><!-- wp:post-template -->
<!-- wp:post-featured-image {"isLink":true,"style":{"spacing":{"margin":{"top":"0px"}}}} /-->

<!-- wp:group {"style":{"spacing":{"blockGap":"0.25em","padding":{"bottom":"1em"},"margin":{"top":"0px","bottom":"0px"}}},"fontSize":"heading-6"} -->
<div class="wp-block-group has-heading-6-font-size" style="margin-top:0px;margin-bottom:0px;padding-bottom:1em"><!-- wp:post-title {"isLink":true,"style":{"spacing":{"margin":{"bottom":"0.25em","top":"0px"}}},"fontSize":"heading-6"} /--></div>
<!-- /wp:group -->
<!-- /wp:post-template --></div>
<!-- /wp:query --></div>
<!-- /wp:group -->

<!-- wp:columns {"align":"wide"} -->
<div class="wp-block-columns alignwide"><!-- wp:column -->
<div class="wp-block-column"><!-- wp:image {"width":200,"sizeSlug":"full","linkDestination":"none","className":"is-style-rounded"} -->
<figure class="wp-block-image size-full is-resized is-style-rounded"><img src="https://gen.spcw.my.id/wp-content/themes/poe/assets/images/illustrations/avatar-1.png" alt="" width="200"/></figure>
<!-- /wp:image --></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"><!-- wp:pullquote {"textAlign":"left","textColor":"primary","fontSize":"heading-3"} -->
<figure class="wp-block-pullquote has-text-align-left has-primary-color has-text-color has-heading-3-font-size"><blockquote><p>“Poe guided us through the rebranding of our online business with a steady hand and a keen eye for
					detail.”</p></blockquote></figure>
<!-- /wp:pullquote -->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"1em"}}}} -->
<div class="wp-block-group" style="padding-top:1em"><!-- wp:paragraph {"textColor":"foreground","fontSize":"heading-6"} -->
<p class="has-foreground-color has-text-color has-heading-6-font-size">Mary Shelley<br>Online Publisher</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:spacer {"height":"64px"} -->
<div style="height:64px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:group {"align":"full","style":{"spacing":{"padding":{"top":"64px","bottom":"64px"}}},"backgroundColor":"quaternary","layout":{"inherit":true}} -->
<div class="wp-block-group alignfull has-quaternary-background-color has-background" style="padding-top:64px;padding-bottom:64px"><!-- wp:group {"align":"wide","layout":{"inherit":false}} -->
<div class="wp-block-group alignwide"><!-- wp:heading {"level":4,"style":{"spacing":{"margin":{"bottom":"64px"}}}} -->
<h4 id="our-process" style="margin-bottom:64px">Our Process</h4>
<!-- /wp:heading -->

<!-- wp:group -->
<div class="wp-block-group"><!-- wp:separator {"backgroundColor":"tertiary","className":"is-style-wide"} -->
<hr class="wp-block-separator has-text-color has-tertiary-color has-alpha-channel-opacity has-tertiary-background-color has-background is-style-wide"/>
<!-- /wp:separator -->

<!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column {"width":"8%"} -->
<div class="wp-block-column" style="flex-basis:8%"><!-- wp:heading {"level":4,"textColor":"primary"} -->
<h4 class="has-primary-color has-text-color" id="1">1.</h4>
<!-- /wp:heading --></div>
<!-- /wp:column -->

<!-- wp:column {"width":"42%"} -->
<div class="wp-block-column" style="flex-basis:42%"><!-- wp:heading {"level":4} -->
<h4 id="explore">Explore</h4>
<!-- /wp:heading --></div>
<!-- /wp:column -->

<!-- wp:column {"width":"50%"} -->
<div class="wp-block-column" style="flex-basis:50%"><!-- wp:paragraph -->
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
						labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation. </p>
<!-- /wp:paragraph --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group -->

<!-- wp:group -->
<div class="wp-block-group"><!-- wp:separator {"backgroundColor":"tertiary","className":"is-style-wide"} -->
<hr class="wp-block-separator has-text-color has-tertiary-color has-alpha-channel-opacity has-tertiary-background-color has-background is-style-wide"/>
<!-- /wp:separator -->

<!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column {"width":"8%"} -->
<div class="wp-block-column" style="flex-basis:8%"><!-- wp:heading {"level":4,"textColor":"primary"} -->
<h4 class="has-primary-color has-text-color" id="2">2.</h4>
<!-- /wp:heading --></div>
<!-- /wp:column -->

<!-- wp:column {"width":"42%"} -->
<div class="wp-block-column" style="flex-basis:42%"><!-- wp:heading {"level":4} -->
<h4 id="execute">Execute</h4>
<!-- /wp:heading --></div>
<!-- /wp:column -->

<!-- wp:column {"width":"50%"} -->
<div class="wp-block-column" style="flex-basis:50%"><!-- wp:paragraph -->
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
						labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
<!-- /wp:paragraph --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group -->

<!-- wp:group -->
<div class="wp-block-group"><!-- wp:separator {"backgroundColor":"tertiary","className":"is-style-wide"} -->
<hr class="wp-block-separator has-text-color has-tertiary-color has-alpha-channel-opacity has-tertiary-background-color has-background is-style-wide"/>
<!-- /wp:separator -->

<!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column {"width":"8%"} -->
<div class="wp-block-column" style="flex-basis:8%"><!-- wp:heading {"level":4,"textColor":"primary"} -->
<h4 class="has-primary-color has-text-color" id="3">3.</h4>
<!-- /wp:heading --></div>
<!-- /wp:column -->

<!-- wp:column {"width":"42%"} -->
<div class="wp-block-column" style="flex-basis:42%"><!-- wp:heading {"level":4} -->
<h4 id="evaluate">Evaluate</h4>
<!-- /wp:heading --></div>
<!-- /wp:column -->

<!-- wp:column {"width":"50%"} -->
<div class="wp-block-column" style="flex-basis:50%"><!-- wp:paragraph -->
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
						labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
<!-- /wp:paragraph --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:spacer {"height":"64px"} -->
<div style="height:64px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:group {"align":"wide"} -->
<div class="wp-block-group alignwide"><!-- wp:separator {"backgroundColor":"tertiary","className":"is-style-wide"} -->
<hr class="wp-block-separator has-text-color has-tertiary-color has-alpha-channel-opacity has-tertiary-background-color has-background is-style-wide"/>
<!-- /wp:separator -->

<!-- wp:columns {"verticalAlignment":"center","style":{"spacing":{"margin":{"bottom":"32px"}}}} -->
<div class="wp-block-columns are-vertically-aligned-center" style="margin-bottom:32px"><!-- wp:column {"verticalAlignment":"center"} -->
<div class="wp-block-column is-vertically-aligned-center"><!-- wp:heading {"level":4} -->
<h4 id="our-clients">Our Clients</h4>
<!-- /wp:heading --></div>
<!-- /wp:column -->

<!-- wp:column {"verticalAlignment":"center"} -->
<div class="wp-block-column is-vertically-aligned-center"><!-- wp:paragraph -->
<p>We foster long-term relationships. Do you want to <a href="">start one</a>?</p>
<!-- /wp:paragraph --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:gallery {"columns":6,"imageCrop":false,"linkTo":"none"} -->
<figure class="wp-block-gallery has-nested-images columns-6"><!-- wp:image {"linkDestination":"none"} -->
<figure class="wp-block-image"><img src="https://gen.spcw.my.id/wp-content/themes/poe/assets/images/illustrations/logo.png" alt=""/></figure>
<!-- /wp:image -->

<!-- wp:image {"linkDestination":"none"} -->
<figure class="wp-block-image"><img src="https://gen.spcw.my.id/wp-content/themes/poe/assets/images/illustrations/logo.png" alt=""/></figure>
<!-- /wp:image -->

<!-- wp:image {"linkDestination":"none"} -->
<figure class="wp-block-image"><img src="https://gen.spcw.my.id/wp-content/themes/poe/assets/images/illustrations/logo.png" alt=""/></figure>
<!-- /wp:image -->

<!-- wp:image {"linkDestination":"none"} -->
<figure class="wp-block-image"><img src="https://gen.spcw.my.id/wp-content/themes/poe/assets/images/illustrations/logo.png" alt=""/></figure>
<!-- /wp:image -->

<!-- wp:image {"linkDestination":"none"} -->
<figure class="wp-block-image"><img src="https://gen.spcw.my.id/wp-content/themes/poe/assets/images/illustrations/logo.png" alt=""/></figure>
<!-- /wp:image -->

<!-- wp:image {"linkDestination":"none"} -->
<figure class="wp-block-image"><img src="https://gen.spcw.my.id/wp-content/themes/poe/assets/images/illustrations/logo.png" alt=""/></figure>
<!-- /wp:image -->

<!-- wp:image {"linkDestination":"none"} -->
<figure class="wp-block-image"><img src="https://gen.spcw.my.id/wp-content/themes/poe/assets/images/illustrations/logo.png" alt=""/></figure>
<!-- /wp:image -->

<!-- wp:image {"linkDestination":"none"} -->
<figure class="wp-block-image"><img src="https://gen.spcw.my.id/wp-content/themes/poe/assets/images/illustrations/logo.png" alt=""/></figure>
<!-- /wp:image -->

<!-- wp:image {"linkDestination":"none"} -->
<figure class="wp-block-image"><img src="https://gen.spcw.my.id/wp-content/themes/poe/assets/images/illustrations/logo.png" alt=""/></figure>
<!-- /wp:image -->

<!-- wp:image {"linkDestination":"none"} -->
<figure class="wp-block-image"><img src="https://gen.spcw.my.id/wp-content/themes/poe/assets/images/illustrations/logo.png" alt=""/></figure>
<!-- /wp:image -->

<!-- wp:image {"linkDestination":"none"} -->
<figure class="wp-block-image"><img src="https://gen.spcw.my.id/wp-content/themes/poe/assets/images/illustrations/logo.png" alt=""/></figure>
<!-- /wp:image -->

<!-- wp:image {"linkDestination":"none"} -->
<figure class="wp-block-image"><img src="https://gen.spcw.my.id/wp-content/themes/poe/assets/images/illustrations/logo.png" alt=""/></figure>
<!-- /wp:image --></figure>
<!-- /wp:gallery --></div>
<!-- /wp:group -->

<!-- wp:spacer {"height":"64px"} -->
<div style="height:64px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:group {"align":"wide"} -->
<div class="wp-block-group alignwide"><!-- wp:group -->
<div class="wp-block-group"><!-- wp:separator {"backgroundColor":"tertiary","className":"is-style-wide"} -->
<hr class="wp-block-separator has-text-color has-tertiary-color has-alpha-channel-opacity has-tertiary-background-color has-background is-style-wide"/>
<!-- /wp:separator -->

<!-- wp:columns {"verticalAlignment":"center","style":{"spacing":{"margin":{"bottom":"32px"}}}} -->
<div class="wp-block-columns are-vertically-aligned-center" style="margin-bottom:32px"><!-- wp:column {"verticalAlignment":"center"} -->
<div class="wp-block-column is-vertically-aligned-center"><!-- wp:heading {"level":4} -->
<h4 id="features">Features</h4>
<!-- /wp:heading --></div>
<!-- /wp:column -->

<!-- wp:column {"verticalAlignment":"center"} -->
<div class="wp-block-column is-vertically-aligned-center"><!-- wp:paragraph -->
<p>Learn what you can expect from us.</p>
<!-- /wp:paragraph --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group -->

<!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column {"backgroundColor":"quaternary"} -->
<div class="wp-block-column has-quaternary-background-color has-background"><!-- wp:group -->
<div class="wp-block-group"><!-- wp:image {"linkDestination":"none"} -->
<figure class="wp-block-image"><img src="https://gen.spcw.my.id/wp-content/themes/poe/assets/images/illustrations/feature-1.png" alt=""/></figure>
<!-- /wp:image -->

<!-- wp:group {"style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}},"backgroundColor":"quaternary"} -->
<div class="wp-block-group has-quaternary-background-color has-background" style="margin-top:0px;margin-bottom:0px"><!-- wp:heading {"level":6,"textColor":"primary"} -->
<h6 class="has-primary-color has-text-color" id="clean-design">Clean Design</h6>
<!-- /wp:heading -->

<!-- wp:paragraph {"fontSize":"small"} -->
<p class="has-small-font-size">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
						eiusmod tempor incididunt ut labore et dolore magna aliqua.
					</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:column -->

<!-- wp:column {"backgroundColor":"quaternary"} -->
<div class="wp-block-column has-quaternary-background-color has-background"><!-- wp:group -->
<div class="wp-block-group"><!-- wp:image {"linkDestination":"none"} -->
<figure class="wp-block-image"><img src="https://gen.spcw.my.id/wp-content/themes/poe/assets/images/illustrations/feature-2.png" alt=""/></figure>
<!-- /wp:image -->

<!-- wp:group {"style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}},"backgroundColor":"quaternary"} -->
<div class="wp-block-group has-quaternary-background-color has-background" style="margin-top:0px;margin-bottom:0px"><!-- wp:heading {"level":6,"textColor":"primary"} -->
<h6 class="has-primary-color has-text-color" id="full-site-editing">Flexible Solutions</h6>
<!-- /wp:heading -->

<!-- wp:paragraph {"fontSize":"small"} -->
<p class="has-small-font-size">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
						eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:column -->

<!-- wp:column {"backgroundColor":"quaternary"} -->
<div class="wp-block-column has-quaternary-background-color has-background"><!-- wp:group -->
<div class="wp-block-group"><!-- wp:image {"linkDestination":"none"} -->
<figure class="wp-block-image"><img src="https://gen.spcw.my.id/wp-content/themes/poe/assets/images/illustrations/feature-3.png" alt=""/></figure>
<!-- /wp:image -->

<!-- wp:group {"style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}},"backgroundColor":"quaternary"} -->
<div class="wp-block-group has-quaternary-background-color has-background" style="margin-top:0px;margin-bottom:0px"><!-- wp:heading {"level":6,"textColor":"primary"} -->
<h6 class="has-primary-color has-text-color" id="global-styles">Reliable Support</h6>
<!-- /wp:heading -->

<!-- wp:paragraph {"fontSize":"small"} -->
<p class="has-small-font-size">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
						eiusmod tempor incididunt ut labore et dolore magna aliqua.
					</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group -->

<!-- wp:spacer {"height":"64px"} -->
<div style="height:64px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:cover {"url":"https://gen.spcw.my.id/wp-content/themes/poe/assets/images/illustrations/illustration.png","dimRatio":0,"focalPoint":{"x":"0.50","y":"0.20"},"minHeight":667,"minHeightUnit":"px","contentPosition":"top left","isDark":false,"align":"full"} -->
<div class="wp-block-cover alignfull is-light has-custom-content-position is-position-top-left" style="min-height:667px"><span aria-hidden="true" class="wp-block-cover__background has-background-dim-0 has-background-dim"></span><img class="wp-block-cover__image-background" alt="" src="https://gen.spcw.my.id/wp-content/themes/poe/assets/images/illustrations/illustration.png" style="object-position:50% 20%" data-object-fit="cover" data-object-position="50% 20%"/><div class="wp-block-cover__inner-container"><!-- wp:paragraph {"align":"center","placeholder":"Write title…","fontSize":"large"} -->
<p class="has-text-align-center has-large-font-size"></p>
<!-- /wp:paragraph --></div></div>
<!-- /wp:cover -->

<!-- wp:columns {"align":"wide","style":{"spacing":{"padding":{"top":"64px","bottom":"64px"}}}} -->
<div class="wp-block-columns alignwide" style="padding-top:64px;padding-bottom:64px"><!-- wp:column {"width":"33%"} -->
<div class="wp-block-column" style="flex-basis:33%"><!-- wp:heading {"level":4} -->
<h4 id="about">About</h4>
<!-- /wp:heading --></div>
<!-- /wp:column -->

<!-- wp:column {"style":{"spacing":{"blockGap":"1em"}}} -->
<div class="wp-block-column"><!-- wp:paragraph {"fontSize":"heading-4"} -->
<p class="has-heading-4-font-size">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
			ullamco laboris.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"fontSize":"heading-4"} -->
<p class="has-heading-4-font-size">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
			eu fugiat nulla pariatur.</p>
<!-- /wp:paragraph -->

<!-- wp:group {"style":{"elements":{"link":{"color":{"text":"var:preset|color|primary"}}},"spacing":{"blockGap":"1.5em"}},"layout":{"type":"flex"},"fontSize":"heading-4"} -->
<div class="wp-block-group has-link-color has-heading-4-font-size"><!-- wp:paragraph -->
<p><a href="">More →</a></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><a href="">Contact →</a></p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","align":"full","className":"site-footer"} /-->